@charset "UTF-8";

@media (max-width:600px) {
    body,html {
       
        width:600px ;
        margin: 0px;
        padding: 0px;
    }


    .banner_headline h1 {
        margin-left: 185px;
    }
    article{
        overflow: hidden;
        padding-left: 20px;
    }
    .banner_headline h2 {
        color: white;
        font-size: 19px;
        text-shadow: 0px 1px 0px #555555;
        margin: 0;
        padding: 0;
        width: 350px;
        margin-top: 48px;
        margin-left: 191px;
    }
    .banner_options{
        height: auto;
        flex-direction: column;
        justify-content: center;

    }
    .border2, .border3, .border1{ 
        margin: auto;
        text-align: center;
        width: 571px;
    }
    
  .flex{
    flex-direction: column;
  }

  .conteiner{ 
    flex-direction:column;
  }
    
#section .geral {
    display: flex;
    text-align: center;
    margin-top: 250px;
        flex-direction: column;
    }

    #geral{
        margin-top: 250px;
    }
    nav ul{
        display: none;
        flex-direction: column;
    }

    header {
        height: auto;
    }
    
    .footer_menu{ 
        display: flex;
        flex-direction: column;
    }

}