@charset "UTF-8";

@media (max-width:600px) {
    body,html {
    
       text-align: center;
       
        width:600px ;
        margin: 0px;
        padding: 0px;
    }

header{ 
    display: flex;
    flex-direction: row;
}
    .banner_headline h1 {
        margin-left: 75px;
    }
    .dias{ 
        margin-left: 161px;
        margin-right: 121px;
    }
    .horas1, .horas2, .horas3{
        margin-left: 189;
    }
    article{
        overflow: hidden;
        padding-left: 20px;
    }
    .banner_headline h2 {
        color: white;
        font-size: 19px;
        text-shadow: 0px 1px 0px #555555;
        margin: 0;
        padding: 0;
        width: 350px;
        margin-top: 48px;
        margin-left: 79px;
    }
    .banner_options{
        height: auto;
        flex-direction: column;
        justify-content: center;

    }
    .border2, .border3, .border1{ 
        margin: auto;
        text-align: center;
        width: 571px;
    }
    
  .flex{
    flex-direction: column;
  }

  .conteiner{ 
    display: flex;
    flex-direction:row;
  }
    
#section .geral {
    display: flex;
    text-align: center;
    margin-top: 250px;
        flex-direction: column;
    }

    #geral{
        margin-top: 250px;
    }
    nav ul{
          display: none;       
        flex-direction: column;
    }
.logo{ 
    margin-left: 20px;
}
    .Menumobile{ 
        margin-right: 23px;
        display:flex ;
        flex-direction: column;
        justify-content: space-around;
    }
    

    header {
        height: auto;
    }
    .widget_tittle_bar{
        margin-left: 250px;
    }
    
    .footer_menu{ 
        display: flex;
        flex-direction: column;
    }
    .fm_1, .fm_2,  .fm_3 {
     margin-left: 25px; 
        margin: auto;
        text-align: center;
        width: 600px;
    }
    .footer_area{
        display: flex;
        flex-direction: column;
       
    }
    .item{ 
        text-align: center;
        width: 300px;
        flex-direction: row;
        color: white;
        margin-left: 321px;
        margin-bottom: 20px;

    }
    .widget_body{
        margin-left: 65px;

    }

    .footer_copy{
        margin-left: 50%;
        text-align: center;
    }

}